{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- Intro -->
<!-- Featured -->
<section id="featured" class="py-4 my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card">
                    <h4>Account to Pay to</h4>
                    <h4>GTBank: 206654788</h4>
                    <h4>GTBank: 135678311</h4>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}